/*page_dash*/
.page_dash {margin-top: calc(6.5vw + 36px); padding-bottom: 50px;overflow: hidden;
    .fp-tableCell { padding-top: 0; }
    .col-12 {padding: 0 15px;}
    &-ttl { font-size: 2.5vw; color: #2312be; position: relative; line-height: 1.2; 
        a { font-size: 16px; position: absolute; text-decoration: underline; color: #2312be; }
    } 
    &-side { position: fixed; background: #fff; padding-bottom: 30px; z-index: 3;
        &-img { max-width: 268px; max-width: 25vh; } 
        &-txt { margin-top: 50px; padding: 0 46px; margin-top: 5vh; padding: 0 4.5vh; }  
        &-row { font-size: 18px; font-family: 'futurafuturisc', sans-serif; font-weight: 300; color: #2413be;font-size: 1.7vh; 
            .left { display: inline-block; min-width: 117px;    min-width: 11vh; } 
            .right { font-family: 'futurademic', sans-serif; text-decoration: underline; } 
        } 
        &-soc { padding: 0 46px; margin-top: 48px; margin-top: 5vh; padding: 0 4.5vh;
            a { color: #2413be; margin-right: 8px; font-size: 24px; font-size: 2.3vh; }
        }
        &-phn { display: block; margin: 0 46px; font-size: 16px; margin-top: 48px; color: #2413be;margin: 5vh 4.5vh 0; font-size: 1.5vh; }
        &-site { display: block; margin: 0 46px; font-size: 16px; margin-top: 20px; color: #2413be; font-family: 'futurafuturisc', sans-serif; font-weight: 300;margin: 2vh 4.5vh 0; font-size: 1.5vh;text-decoration:underline; } 
        &-ml { display: block; margin: 0 46px; font-size: 16px; margin-top: 20px; color: #2413be; font-family: 'futurafuturisc', sans-serif; font-weight: 300; margin: 2vh 4.5vh 0; font-size: 1.5vh;text-decoration:underline;}
    }
    &-addr { margin-top: 30px; font-size: 18px; color: #2413be; } 
    &-spec { margin-top: 30px; font-size: 18px; color: #2413be; }
    &-txt { margin-top: 3vw; font-size: 24px; color: #2413be; line-height: 1.2;font-size: 2.2vmin; }
    &-sum { font-size: 16px; font-family: 'futurafuturisc', sans-serif; font-weight: 300; color: #2413be; 
        span { font-family: 'futurademic', sans-serif; font-size: 30px; }
    }
    &-tabs { margin-top: 30px; 
        a { font-size: 18px; color: #2413be; margin-right: 30px; display: inline-block; 
            &.active { text-decoration: underline; }
        } 
    } 
    &-cont { margin-top: 30px; display: none; 
        &.active { display: block; }
        &-row { font-size: 18px; font-family: 'futurafuturisc', sans-serif; font-weight: 300; color: #2413be; font-size: 2vmin;
            span.left { display: inline-block; min-width: 137px; min-width: 12vmin; } 
            span.right { font-family: 'futurademic', sans-serif; } 
        } 
    }
    &-bigtabs { margin-top: 3vw; 
        a { font-size: 48px; color: #2413be; margin-right: 30px; display: inline-block; font-size: 4.5vmin;
            &.active { text-decoration: underline; }
        } 
    } 
    &-bigcont { display: none; 
        &.active { display: block; margin-top: 3vw; }
        
    }   
    &-btn { font-size: 36px; font-family: 'futurafuturisc', sans-serif; font-weight: 500; background: url(../img/arr.png) no-repeat 90% 50%, #2413be; color: #fff; width: 100%; max-width: 800px; display: block; padding: 22px 10%; 
        &:hover, &:focus {text-decoration: none; color: #fff;}
    }
    &-dates {
        &-bl{
            &-txt { color: #2413be; font-size: 24px; }
        }
    }
    &-peop {
        &-bl{margin-bottom: 20px;
            &-name { color: #2413be; font-size: 24px; }
            &-txt { color: #37363b; font-size: 16px; font-family: 'futurafuturisc', sans-serif; font-weight: 300; }
        }
    }
    &-last {
        &-bl { max-width: 319px; display: block; 
            &-img { position: relative; }  
            &-ttl { position: absolute; font-size: 24px; color: #fff; padding-left: 22px; bottom: 20px; padding-right: 50px; background: url(../img/arr.png) no-repeat 100% 50%; }
            &-cont { background: #000; color: #fff; font-family: 'futurafuturisc', sans-serif; font-weight: 300; overflow: hidden; padding: 15px 20px; 
                &-view { float: left; background: url('../img/lst-v.png')no-repeat 0% 50%; padding: 3px 0 0; padding-left: 35px; } 
                &-like { float: right; background: url('../img/lst-h.png')no-repeat 0% 50%; padding: 3px 0 0; padding-left: 35px; }
            } 
        }
    }
    
}

/*page_dash*/

@media(min-width: 1200px){
    .page_dash {
        &-dates { width: 121vmin; 
            &-bl {
                &-txt { font-size: 2.2vmin; }  
                &-img { max-width: 15vmin; }
            }
        }        
        &-peop { width: 121vmin; 
            &-bl {
                &-name { font-size: 2.2vmin; } 
                &-txt { font-size: 1.5vmin; } 
                &-img { max-width: 15vmin; }
            }
        } 
    }
}

@media(max-width: 991px){
    .page_dash {
        &-side { position: static; 
            &-img { max-width: 267px; margin: 0 auto; }
            &-txt { padding: 0; max-width: 267px; margin: 0 auto; margin-top: 5vh; }
            &-row { font-size: 18px; 
                .left { min-width: 107px; } 
            }
            &-soc {padding: 0; max-width: 267px; margin: 0 auto; margin-top: 5vh;
                a { font-size: 24px; } 
            }
            &-phn { font-size: 16px; padding: 0; max-width: 267px; margin: 0 auto; margin-top: 5vh;}
            &-site { font-size: 16px; padding: 0; max-width: 267px; margin: 0 auto; margin-top: 5vh;} 
            &-ml { font-size: 16px; padding: 0; max-width: 267px; margin: 0 auto; margin-top: 5vh;} 
        } 
        &-ttl { font-size: 30px; 
            a { position: static; display: block; margin-top: 15px; }
        }
        &-last{
            &-bl {margin: 0 auto 15px;}
        }
    }
}