@charset "utf-8";

@import "_fonts";

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'futurademic', sans-serif; font-size: 16px;font-weight: 500;background: #fff;color:#000; min-height: 100vh;}

img { max-width: 100%; height:auto; }

@media(min-width: 1200px){
    .container {max-width: 1600px;}
    .col-12 {padding: 0;}
    .container-fluid {}
}

/*header*/
.h { 
    &-mob {display: none;}
    &-pc {display: block;}
    &-logo { font-size: 30px; font-family: 'futurafuturisc', sans-serif; font-weight: 700; color: #2312be; 
        &:hover, &:focus {text-decoration: none; color: #2312be; }
    }
    &-menu { margin-top: 10px;
        ul { padding: 0; margin: 0; list-style: none; text-align: justify; 
            &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
            &:after { content: ''; display: inline-block; width: 100%; } 
            li { display: inline-block; position: relative; top: 1.2em; 
                a { color: #2312be; opacity: 1; @include trans(0.3s);
                    &:hover, &:focus {text-decoration: none; opacity: 0.5; @include trans(0.3s);}
                }
            }
        } 
    } 
    &-srch { margin-top: 10px;
        button {background: url('../img/srch-btn.png')no-repeat;background-size: 100% 100%;width: 17px;height: 18px;display: block; margin: 0 auto;border: 0; opacity: 1; @include trans(0.3s);
            &:hover, &:focus {cursor: pointer; box-shadow: none; outline: 0; opacity: 0.5; @include trans(0.3s);}
        }
    }
    &-right { background: #2413be; position: absolute; width: 100%; top: 0; height: 200px; margin-top: -40px; padding-top: 76px; @include trans(0.3s);
        &-links { margin-right: 140px; float: right; 
            a { color: #fff; margin: 0 20px; text-transform: uppercase; }
        } 
    } 
}
header { padding: 40px 0;padding-left: 35px;background: #fff;position: fixed; left: 0;width: 100%;top: 0; z-index: 200;
    &.fixed{
        .h-right {height: 125px; padding-top: 50px;@include trans(0.3s);}
    } 
}
/*header*/
@media(min-width: 992px) and (max-width: 1199px){
    header { 
        &.fixed {
            .h-right {height: 144px; padding-top: 61px;}
        }
    } 
}
@media(min-width: 768px) and (max-width: 991px){
    .h {
        &-right { position: static; padding: 10px 10px; margin: 0; height: auto; overflow: hidden; background: #fff; margin-bottom: 20px; 
            &-links { float: none; margin-right: 0; text-align: right; 
                a { color: #2413be; } 
            } 
        } 
    }
    header { padding: 20px; 
        &.fixed {
            .h-right { padding: 10px 10px; height: auto;}
        }
    } 
}
@media(max-width: 767px){
    header {padding: 20px 0;background: #2413be;color: #fff;}
    .h {
        &-mob {display: block;
            &-logo { color: #fff; text-align: center; display: block; max-width: 59px; margin: 0 auto; }
            &-btn { overflow: hidden;
                button {float: right; background: none; border: 1px solid transparent; display: block; width: 100%; max-width: 81px;
                    span { height: 1px; width: 100%; margin: 8px 0; background: #fff; display: block; 
                        &:first-child { margin-top: 0; } 
                        &:last-child { margin-bottom: 0; }
                    } 
                }    
            }
            &-srch {
                button {background: url('../img/srch-mob-btn.png')no-repeat;background-size: 100% 100%;width: 17px;height: 18px;display: block; margin: 0 0;border: 0;opacity: 1; @include trans(0.3s);
                    &:hover, &:focus {cursor: pointer; box-shadow: none; outline: 0; opacity: 0.5; @include trans(0.3s);}
                }
            }
        }
        &-pc {display: none;}
    }
}

@import "_index";
 

/*footer*/
footer { background: #2413be; color: #fff; padding-left: 35px;} 
.f {
    &-left {display: flex; justify-content: space-between; flex-direction: column;min-height: 390px;padding-bottom: 30px;}
    &-right {background: #000; display: flex; justify-content: space-between; flex-direction: column; min-height: 100%;
        &-btm { margin-top: 19px; padding-bottom: 30px;
            ul { padding: 0 10%; margin: 0; list-style: none; text-align: justify;
                &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
                &:after { content: ''; display: inline-block; width: 100%; } 
                li { display: inline-block; position: relative; top: 1.2em; 
                    a { color: #2413be; text-transform: uppercase;  @include trans(0.3s);
                        &:hover, &:focus { color: #fff;text-decoration: none;  @include trans(0.3s);}
                    }
                    .copy {color: #fff;}
                }
            } 
        }     
    }
    &-logo { font-size: 30px; font-family: 'futurafuturisc', sans-serif; font-weight: 700; color: #fff; margin-top: 20px;
        &:hover, &:focus {text-decoration: none; color: #fff; }
    }
    &-soc {
        a { color: #fff; margin-right: 8px; font-size: 24px; } 
    } 
    &-ml { font-size: 24px; color: #fff; }
    &-menu { margin-top: 19px;
        ul { padding: 0 10%; margin: 0; list-style: none; text-align: justify; max-width: 900px; 
            &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
            &:after { content: ''; display: inline-block; width: 100%; } 
            li { display: inline-block; position: relative; top: 1.2em; 
                a { color: #2413be; text-transform: uppercase;  @include trans(0.3s);
                    &:hover, &:focus { color: #fff;text-decoration: none;  @include trans(0.3s);}
                }
            }
        } 
    } 
}


/*footer*/
@media(min-width: 992px) and (max-width: 1600px){
    footer { padding-left: 15px;} 
    .f{
        &-left {min-height: 250px;}
        
        &-ml { font-size: 20px; }        
    }
}
@media(max-width: 767px){
    footer {display: none;}
}

