/* font-family: "futurademic"; */
@font-face {
  font-family: "futurademic";
  src: url("../fonts/futurademic/futurademic.eot");
  src: url("../fonts/futurademic/futurademic.eot?#iefix") format("embedded-opentype"), url("../fonts/futurademic/futurademic.woff") format("woff"), url("../fonts/futurademic/futurademic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "futurafuturisc"; */
@font-face {
  font-family: "futurafuturisc";
  src: url("../fonts/futurafuturisc-bold/futurafuturisc-bold.eot");
  src: url("../fonts/futurafuturisc-bold/futurafuturisc-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/futurafuturisc-bold/futurafuturisc-bold.woff") format("woff"), url("../fonts/futurafuturisc-bold/futurafuturisc-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
/* font-family: "futurafuturislightc"; */
@font-face {
  font-family: "futurafuturisc";
  src: url("../fonts/futurafuturislightc/futurafuturislightc.eot");
  src: url("../fonts/futurafuturislightc/futurafuturislightc.eot?#iefix") format("embedded-opentype"), url("../fonts/futurafuturislightc/futurafuturislightc.woff") format("woff"), url("../fonts/futurafuturislightc/futurafuturislightc.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
/* font-family: "futuramediumc"; */
@font-face {
  font-family: "futurafuturisc";
  src: url("../fonts/futuramediumc/futuramediumc.eot");
  src: url("../fonts/futuramediumc/futuramediumc.eot?#iefix") format("embedded-opentype"), url("../fonts/futuramediumc/futuramediumc.woff") format("woff"), url("../fonts/futuramediumc/futuramediumc.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
body {
  font-family: 'futurademic', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  color: #000;
  min-height: 100vh; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 1600px; }

  .col-12 {
    padding: 0; } }
/*header*/
.h-mob {
  display: none; }
.h-pc {
  display: block; }
.h-logo {
  font-size: 30px;
  font-family: 'futurafuturisc', sans-serif;
  font-weight: 700;
  color: #2312be; }
  .h-logo:hover, .h-logo:focus {
    text-decoration: none;
    color: #2312be; }
.h-menu {
  margin-top: 10px; }
  .h-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: justify; }
    .h-menu ul:before {
      content: '';
      display: block;
      width: 100%;
      margin-bottom: -1.2em; }
    .h-menu ul:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .h-menu ul li {
      display: inline-block;
      position: relative;
      top: 1.2em; }
      .h-menu ul li a {
        color: #2312be;
        border-bottom: 3px solid transparent;
        opacity: 1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s; }
        .h-menu ul li a.active {
          border-bottom: 3px solid #2312be; }
        .h-menu ul li a:hover, .h-menu ul li a:focus {
          text-decoration: none;
          opacity: 0.5;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -ms-transition: 0.3s; }
.h-srch {
  margin-top: 10px; }
  .h-srch-btn {
    background: url("../img/srch-btn.png") no-repeat;
    background-size: 100% 100%;
    width: 17px;
    height: 18px;
    position: relative;
    display: block;
    margin: 0 auto;
    border: 0;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .h-srch-btn:hover, .h-srch-btn:focus {
      cursor: pointer;
      box-shadow: none;
      outline: 0;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .h-srch-cont {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px 0;
    width: 41vw;
    background: #fff;
    display: none;
    z-index: 99; }
    .h-srch-cont.active {
      display: block; }
    .h-srch-cont-input {
      width: 100%;
      border: 0;
      color: #2312be;
      font-weight: 400;
      text-transform: uppercase; }
      .h-srch-cont-input:hover, .h-srch-cont-input:focus {
        box-shadow: none;
        outline: 0; }
    .h-srch-cont-btn {
      border: 0;
      color: #2312be;
      font-weight: 400;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      background: url("../img/btn-srch-smile.png") no-repeat 100% 50%;
      top: 0px;
      text-decoration: underline;
      padding: 10px 0;
      padding-right: 40px; }
      .h-srch-cont-btn:hover, .h-srch-cont-btn:focus {
        box-shadow: none;
        outline: 0; }
.h-mob-menu {
  display: none; }
.h-right {
  background: #2413be;
  position: absolute;
  width: 100%;
  top: 0;
  height: 200px;
  margin-top: -40px;
  padding-top: 76px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s; }
  .h-right-links {
    margin-right: 140px;
    float: right; }
    .h-right-links a {
      color: #fff;
      margin: 0 20px;
      text-transform: uppercase; }

header {
  padding: 40px 0;
  padding-left: 35px;
  background: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 200; }
  header.fixed .h-right {
    height: 125px;
    padding-top: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }

/*header*/
@media (min-width: 992px) and (max-width: 1199px) {
  header.fixed .h-right {
    height: 144px;
    padding-top: 61px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .h-right {
    position: static;
    padding: 10px 10px;
    margin: 0;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px; }
    .h-right-links {
      float: none;
      margin-right: 0;
      text-align: right; }
      .h-right-links a {
        color: #2413be; }

  header {
    padding: 20px; }
    header.fixed .h-right {
      padding: 10px 10px;
      height: auto; } }
@media (max-width: 767px) {
  header {
    padding: 20px 0;
    background: #2413be;
    color: #fff; }

  .h-mob {
    display: block; }
    .h-mob-logo {
      color: #fff;
      text-align: center;
      display: block;
      max-width: 59px;
      margin: 8px auto 0; }
    .h-mob-btn {
      overflow: hidden; }
      .h-mob-btn button {
        float: right;
        background: none;
        border: 1px solid transparent;
        padding: 8px;
        display: block;
        width: 100%;
        max-width: 81px;
        border-radius: 6px; }
        .h-mob-btn button:hover, .h-mob-btn button:focus {
          box-shadow: none;
          outline: 0; }
        .h-mob-btn button.active {
          border: 1px solid #fff; }
        .h-mob-btn button span {
          height: 1px;
          width: 100%;
          margin: 8px 0;
          background: #fff;
          display: block; }
          .h-mob-btn button span:first-child {
            margin-top: 0; }
          .h-mob-btn button span:last-child {
            margin-bottom: 0; }
    .h-mob-srch-btn {
      background: url("../img/srch-mob-btn.png") no-repeat;
      background-size: 100% 100%;
      width: 17px;
      height: 18px;
      display: block;
      margin: 8px 0 0;
      border: 0;
      opacity: 1;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
      .h-mob-srch-btn:hover, .h-mob-srch-btn:focus {
        cursor: pointer;
        box-shadow: none;
        outline: 0;
        opacity: 0.5;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s; }
    .h-mob-srch-cont {
      position: absolute;
      top: 0;
      left: 15px;
      padding: 10px 15px;
      width: 345px;
      background: #fff;
      display: none;
      z-index: 99; }
      .h-mob-srch-cont.active {
        display: block; }
      .h-mob-srch-cont-input {
        width: 100%;
        border: 0;
        color: #2312be;
        font-weight: 400;
        text-transform: uppercase; }
        .h-mob-srch-cont-input:hover, .h-mob-srch-cont-input:focus {
          box-shadow: none;
          outline: 0; }
      .h-mob-srch-cont-btn {
        border: 0;
        color: #2312be;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        background: url("../img/btn-srch-smile.png") no-repeat 100% 50%;
        top: 0px;
        text-decoration: underline;
        padding: 10px 0;
        padding-right: 40px; }
        .h-mob-srch-cont-btn:hover, .h-mob-srch-cont-btn:focus {
          box-shadow: none;
          outline: 0; }
    .h-mob-menu {
      display: block;
      position: absolute;
      left: 0;
      top: 77px;
      background: #2413be;
      width: 100%;
      border-top: 1px solid #fff;
      padding-bottom: 30px; }
      .h-mob-menu.hidden {
        display: none; }
      .h-mob-menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-y: auto; }
        .h-mob-menu ul li {
          width: 100%;
          padding: 0 15px; }
          .h-mob-menu ul li a {
            color: #fff;
            display: block;
            width: 100%;
            border: 1px solid #fff;
            border-radius: 6px;
            margin: 15px 0;
            padding: 12px 15px;
            text-align: center; }
            .h-mob-menu ul li a:hover, .h-mob-menu ul li a:focus {
              text-decoration: none;
              color: #fff; }
  .h-pc {
    display: none; } }
/*main*/
.main {
  padding-top: 125px;
  min-height: 100vh; }
  .main .col-12 {
    padding: 0; }
  .main-cont {
    background: url("../img/main-back.jpg");
    background-size: cover;
    position: relative;
    min-height: 100%;
    padding-left: 23%; }
  .main-ttl {
    color: #fff;
    line-height: 1.3;
    font-size: 60px;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    padding: 20% 0 10px; }
  .main-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #fff, #ffffff00, #ffffff00), url("../img/arr.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #fff; }
    .main-btn:hover, .main-btn:focus {
      text-decoration: none;
      color: #fff; }
  .main-scrl {
    font-size: 18px;
    display: block;
    background: url("../img/arr-dwn.png") no-repeat 82% 50%, url("../img/mouse.png") no-repeat 64% 50%, #000;
    max-width: 322px;
    width: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 36px 45px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0; }
    .main-scrl:hover, .main-scrl:focus {
      text-decoration: none;
      color: #fff; }
  .main-side {
    margin-top: 75px; }
    .main-side-top {
      background: #fff;
      text-align: center;
      padding: 29px 0 18px; }
      .main-side-top-cont {
        display: none; }
        .main-side-top-cont.active {
          display: block; }
      .main-side-top a, .main-side-top span {
        cursor: pointer;
        color: #2312be;
        font-size: 30px;
        border-bottom: 6px solid #fff;
        display: inline-block;
        padding-bottom: 2px;
        opacity: 1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        margin: 0 5px; }
        .main-side-top a:hover, .main-side-top a:focus, .main-side-top span:hover, .main-side-top span:focus {
          text-decoration: none;
          opacity: 0.5;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -ms-transition: 0.3s; }
        .main-side-top a.active, .main-side-top span.active {
          border-bottom: 6px solid #2312be; }
    .main-side-bl {
      display: block;
      color: #fff;
      position: relative; }
      .main-side-bl-ttl {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        font-size: 18px;
        text-transform: uppercase;
        left: 15px;
        padding-right: 50px;
        background: url("../img/arr.png") no-repeat 100% 50%;
        opacity: 1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s; }
      .main-side-bl:hover, .main-side-bl:focus {
        text-decoration: none;
        color: #fff; }
        .main-side-bl:hover .main-side-bl-ttl, .main-side-bl:focus .main-side-bl-ttl {
          opacity: 0.5;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -ms-transition: 0.3s; }

/*main*/
@media (min-width: 992px) and (max-width: 1600px) {
  .main-cont {
    padding-left: 5%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .main-ttl {
    font-size: 44px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .main-cont {
    padding-left: 5%;
    padding-bottom: 26vh; }
  .main-ttl {
    font-size: 46px;
    padding: 15% 0 10px; }
  .main-side {
    margin-top: 0;
    text-align: center; }
    .main-side-bl {
      display: inline-block;
      width: 49%; } }
@media (max-width: 767px) {
  .main {
    padding-top: 64px; }
    .main-cont {
      padding: 0 15px 42vh;
      min-height: calc(100vh - 64px); }
    .main-ttl {
      padding: 17vh 0 25px;
      font-size: 23px; }
    .main-scrl {
      max-width: 100%; }
    .main .main-side {
      margin-top: 0; } }
/*best*/
.best {
  padding: 100px 0 0; }
  .best-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1; }
  .best-txt {
    font-size: 24px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    margin-top: 20px; }
  .best-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #2312be, #ffffff00, #ffffff00), url("../img/arr-purp.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #2312be;
    margin-top: 60px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .best-btn:hover, .best-btn:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .best-top-ttl {
    font-size: 36px;
    color: #2312be;
    padding-left: 30px; }
  .best-top-txt {
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 30px; }
  .best-img {
    margin-top: 20px;
    margin-bottom: 77px; }
  .best-bl {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    display: block;
    color: #fff;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .best-bl-img {
      display: block; }
    .best-bl-num {
      position: absolute;
      top: 0;
      color: #fff;
      font-size: 24px;
      background: #000;
      width: 300px;
      padding: 33px 0;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      padding-left: 20px;
      display: block; }
    .best-bl-ttl {
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: #fff;
      font-size: 24px;
      background: url("../img/arr.png") no-repeat 94% 50%;
      padding-right: 75px;
      display: block; }
    .best-bl:hover, .best-bl:focus {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }

/*best*/
@media (min-width: 992px) and (max-width: 1600px) {
  .best-ttl {
    padding-left: 15px; }
  .best-txt {
    padding-left: 15px; } }
@media (min-width: 768px) {
  .best-ttl {
    font-size: 76px; }
  .best-btn {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .best-top-ttl {
    padding-left: 0; }
  .best-top-txt {
    padding-left: 0; } }
@media (max-width: 767px) {
  .best-ttl {
    font-size: 48px; }
  .best-btn {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .best-top-ttl {
    padding-left: 0; }
  .best-top-txt {
    padding-left: 0; }
  .best-bl-num {
    padding: 17px 0;
    padding-left: 20px; } }
/*last_konk*/
.last_konk {
  padding: 100px 0 50px; }
  .last_konk .col-12 {
    padding: 0 15px; }
  .last_konk-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 70px; }
  .last_konk-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #2312be, #ffffff00, #ffffff00), url("../img/arr-purp.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #2312be;
    margin-top: 24px;
    margin-bottom: 70px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .last_konk-btn:hover, .last_konk-btn:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .last_konk-top-ttl {
    font-size: 36px;
    color: #2312be;
    padding-left: 30px; }
  .last_konk-top-txt {
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 30px; }
  .last_konk-img {
    margin-top: 20px;
    margin-bottom: 77px; }
  .last_konk-bl {
    max-width: 402px;
    margin: 0 auto;
    position: relative;
    display: block;
    color: #fff;
    overflow: hidden;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .last_konk-bl-top {
      color: #2312be;
      overflow: hidden;
      display: block;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      margin-bottom: 10px;
      position: relative; }
      .last_konk-bl-top:before {
        content: '';
        background: #2312be;
        width: 100%;
        height: 1px;
        display: block;
        top: 50%;
        position: absolute;
        z-index: -1; }
      .last_konk-bl-top-left {
        float: left;
        display: block;
        background: #fff;
        padding-right: 5px; }
      .last_konk-bl-top-right {
        float: right;
        display: block;
        background: #fff;
        padding-left: 5px; }
    .last_konk-bl-img {
      display: block;
      text-align: right;
      position: relative; }
    .last_konk-bl-num {
      position: absolute;
      top: 0;
      color: #fff;
      font-size: 24px;
      background: #000;
      width: 241px;
      padding: 33px 0;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      padding-left: 20px;
      display: block;
      text-align: left;
      z-index: 2; }
      .last_konk-bl-num span {
        text-decoration: underline; }
    .last_konk-bl-ttl {
      position: absolute;
      bottom: 30px;
      left: 108px;
      color: #fff;
      font-size: 24px;
      background: url("../img/arr.png") no-repeat 94% 50%;
      padding-right: 75px;
      display: block; }
    .last_konk-bl-side {
      display: block;
      height: 100%;
      width: 82px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff; }
      .last_konk-bl-side span {
        color: #2312be;
        text-decoration: underline;
        position: absolute;
        bottom: 25px;
        left: 0;
        transform: rotate(-90deg); }
    .last_konk-bl:hover, .last_konk-bl:focus {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }

/*last_konk*/
@media (min-width: 992px) and (max-width: 1600px) {
  .last_konk-bl-img img {
    width: calc(100% - 10%); }
  .last_konk-bl-num {
    font-size: 19px;
    width: 160px;
    padding: 20px 0;
    padding-left: 16px; }
  .last_konk-bl-ttl {
    left: 45px;
    font-size: 19px;
    padding-right: 67px; }
  .last_konk-bl-side {
    width: 10%; } }
@media (min-width: 768px) {
  .last_konk-ttl {
    font-size: 76px; } }
@media (max-width: 767px) {
  .last_konk-ttl {
    font-size: 48px; }
  .last_konk-btn {
    font-size: 16px;
    letter-spacing: 2px; } }
/*memb*/
.memb {
  padding: 50px 0; }
  .memb .col-12 {
    padding: 0 15px; }
  .memb-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 70px; }
  .memb-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #2312be, #ffffff00, #ffffff00), url("../img/arr-purp.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #2312be;
    margin-top: 24px;
    margin-bottom: 70px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .memb-btn:hover, .memb-btn:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .memb-top-ttl {
    font-size: 36px;
    color: #2312be;
    padding-left: 30px; }
  .memb-top-txt {
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 30px; }
  .memb-img {
    margin-top: 20px;
    margin-bottom: 77px; }
  .memb-bl {
    max-width: 160px;
    margin: 0 auto;
    display: block; }
    .memb-bl:hover, .memb-bl:focus {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
    .memb-bl-img {
      margin-top: 18px;
      display: block; }
    .memb-bl-ttl {
      font-size: 24px;
      color: #2312be;
      display: block; }
    .memb-bl-txt {
      color: #37363b;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      margin-top: 10px;
      display: block; }

/*memb*/
@media (min-width: 992px) and (max-width: 1600px) {
  .memb-bl-img img {
    width: calc(100% - 10%); }
  .memb-bl-num {
    font-size: 19px;
    width: 160px;
    padding: 20px 0;
    padding-left: 16px; }
  .memb-bl-ttl {
    left: 45px;
    font-size: 19px;
    padding-right: 67px; }
  .memb-bl-side {
    width: 10%; } }
@media (max-width: 767px) {
  .memb-ttl {
    font-size: 48px; }
  .memb-btn {
    font-size: 16px;
    letter-spacing: 2px; } }
/*battles*/
.battles {
  padding: 50px 0; }
  .battles-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 70px;
    padding-left: 175px; }
  .battles-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #2312be, #ffffff00, #ffffff00), url("../img/arr-purp.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #2312be;
    margin-top: 24px;
    margin-bottom: 70px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .battles-btn:hover, .battles-btn:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .battles-cont {
    padding-left: 175px; }
  .battles-top-ttl {
    font-size: 36px;
    color: #2312be; }
  .battles-top-txt {
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    font-size: 18px; }
    .battles-top-txt span {
      font-family: 'futurademic', sans-serif;
      padding-left: 30px; }
  .battles-btm-txt {
    color: #2413be;
    font-size: 24px; }
    .battles-btm-txt span {
      width: 23px;
      height: 23px;
      display: inline-block;
      margin: 0 15px;
      position: relative;
      top: 3px; }
      .battles-btm-txt span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #2413be;
        top: 50%;
        left: 0;
        transform: rotate(45deg); }
      .battles-btm-txt span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #2413be;
        top: 50%;
        left: 0;
        transform: rotate(-45deg); }
  .battles-img {
    margin-top: 20px;
    margin-bottom: 77px; }
  .battles-right {
    padding: 0 15px; }
  .battles-bl {
    display: block;
    position: relative;
    max-width: 480px;
    margin: 0 auto; }
    .battles-bl-img {
      display: block; }
    .battles-bl-num {
      display: block;
      position: absolute;
      top: 0;
      background: #000;
      color: #fff;
      width: 320px;
      height: 98px;
      font-size: 20px;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      padding: 12px 38px; }
      .battles-bl-num span {
        font-family: 'futurademic', sans-serif;
        font-size: 24px; }
    .battles-bl-ttl {
      color: #fff;
      font-size: 24px;
      position: absolute;
      bottom: 30px;
      left: 30px; }
      .battles-bl-ttl span {
        width: 23px;
        height: 23px;
        display: inline-block;
        margin: 0 15px;
        position: relative;
        top: 3px; }
        .battles-bl-ttl span:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: #fff;
          top: 50%;
          left: 0;
          transform: rotate(45deg); }
        .battles-bl-ttl span:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: #fff;
          top: 50%;
          left: 0;
          transform: rotate(-45deg); }
    .battles-bl:hover, .battles-bl:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }

/*battles*/
@media (min-width: 992px) and (max-width: 1600px) {
  .battles-ttl {
    padding-left: 15px; }
  .battles-cont {
    padding-left: 15px; }
  .battles-bl-num {
    font-size: 16px;
    width: 160px;
    padding: 20px 0;
    padding-left: 16px;
    height: 89px; }
    .battles-bl-num span {
      font-size: 18px; }
  .battles-bl-ttl {
    font-size: 16px; }
    .battles-bl-ttl span {
      margin: 0 6px;
      width: 20px;
      height: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .battles {
    max-width: 720px;
    margin: 0 auto; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .battles-cont {
    padding-left: 0; }
  .battles-ttl {
    margin-bottom: 0;
    padding-left: 0; }
  .battles-btn {
    margin-bottom: 20px; }
  .battles-img {
    margin-bottom: 20px; }
  .battles-btm-txt {
    font-size: 20px;
    margin-bottom: 20px; } }
@media (max-width: 767px) {
  .battles {
    max-width: 540px;
    margin: 0 auto; }
    .battles-cont {
      padding-left: 0; }
    .battles-ttl {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 48px; }
    .battles-btn {
      margin-bottom: 20px;
      margin-left: 0;
      font-size: 16px;
      letter-spacing: 2px; }
    .battles-img {
      margin-bottom: 20px; }
    .battles-btm-txt {
      font-size: 20px;
      margin-bottom: 20px; }
    .battles-bl {
      padding-top: 98px; }
      .battles-bl-num {
        width: 100%; } }
/*learn*/
.learn {
  padding: 50px 0 0px; }
  .learn-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 70px; }
  .learn-btn {
    font-size: 18px;
    display: block;
    background: linear-gradient(to right, #2312be, #ffffff00, #ffffff00), url("../img/arr-purp.png") no-repeat 94% 50%;
    max-width: 400px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    color: #2312be;
    margin-top: 24px;
    margin-bottom: 70px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .learn-btn:hover, .learn-btn:focus {
      text-decoration: none;
      color: #2312be;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .learn-txt {
    font-size: 36px;
    color: #2312be;
    padding-right: 75px;
    background: url("../img/arr-purp.png") no-repeat 94% 50%;
    display: inline-block; }
  .learn-img {
    text-align: center; }
  .learn-bl {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 333px;
    padding: 40px 20px 20px 40px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; }
    .learn-bl-ttl {
      font-size: 24px;
      display: block; }
    .learn-bl-txt {
      font-size: 24px;
      font-family: 'futurafuturisc', sans-serif;
      font-weight: 300;
      display: block;
      text-decoration: underline; }
    .learn-bl:hover, .learn-bl:focus {
      text-decoration: none;
      opacity: 0.5;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s; }
  .learn-cls:nth-child(2n+1) .learn-bl {
    background: url("../img/arr.png") no-repeat 90% 92%, #2413be; }
    .learn-cls:nth-child(2n+1) .learn-bl-ttl {
      color: #fff; }
    .learn-cls:nth-child(2n+1) .learn-bl-txt {
      color: #fff; }
  .learn-cls:nth-child(2n) .learn-bl {
    background: url("../img/arr-purp.png") no-repeat 90% 92%, #fff; }
    .learn-cls:nth-child(2n) .learn-bl-ttl {
      color: #2413be; }
    .learn-cls:nth-child(2n) .learn-bl-txt {
      color: #2413be; }

/*learn*/
@media (min-width: 992px) and (max-width: 1600px) {
  .learn-ttl {
    padding-left: 15px; }
  .learn-bl-txt {
    margin-top: 93px; } }
@media (max-width: 767px) {
  .learn-ttl {
    font-size: 48px;
    margin-bottom: 30px; }
  .learn-btn {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .learn-txt {
    font-size: 30px;
    margin-bottom: 20px; } }
/*page_compet*/
.page_compet {
  padding-top: 225px;
  padding-bottom: 50px; }
  .page_compet-tweek-ttl {
    font-size: 86px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 500;
    line-height: 1; }
  .page_compet-tweek-sub_ttl {
    font-size: 36px;
    color: #2312be;
    padding-left: 30px;
    background: url(../img/arr-purp.png) no-repeat 94% 50%;
    padding-right: 75px;
    display: inline-block; }
  .page_compet-tweek-txt {
    font-size: 24px;
    color: #2312be;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    margin-top: 20px; }
  .page_compet-tweek-date {
    color: #2312be;
    overflow: hidden;
    display: block;
    font-family: 'futurafuturisc', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    margin-top: 10px;
    max-width: 320px; }
    .page_compet-tweek-date span:first-child {
      float: left;
      display: block;
      padding-right: 5px; }
    .page_compet-tweek-date span:last-child {
      float: right;
      display: block;
      padding-left: 5px; }
  .page_compet-tweek-bl {
    padding: 20px 0;
    padding-left: 160px;
    padding-right: 80px; }
    .page_compet-tweek-bl-date {
      overflow: hidden;
      position: relative; }
      .page_compet-tweek-bl-date:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background: #2312be;
        z-index: 0; }
      .page_compet-tweek-bl-date span {
        z-index: 1;
        position: relative;
        color: #2312be; }
        .page_compet-tweek-bl-date span:first-child {
          float: left;
          background: #fff;
          padding-right: 5px; }
        .page_compet-tweek-bl-date span:last-child {
          float: right;
          background: #fff;
          padding-left: 5px; }
    .page_compet-tweek-bl-ttl {
      font-size: 24px;
      background: url(../img/arr-purp.png) no-repeat 94% 50%;
      padding-right: 75px;
      display: inline-block;
      color: #2312be; }
    .page_compet-tweek-bl-btm {
      overflow: hidden;
      margin-top: 35px; }
      .page_compet-tweek-bl-btm span {
        text-decoration: underline;
        color: #2312be; }
        .page_compet-tweek-bl-btm span:first-child {
          float: left; }
        .page_compet-tweek-bl-btm span:last-child {
          float: right; }
    .page_compet-tweek-bl:nth-child(5n+1) {
      background: #2312be; }
      .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-date {
        overflow: hidden; }
        .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-date:before {
          background: #fff; }
        .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-date span {
          color: #fff; }
          .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-date span:first-child {
            background: #2312be; }
          .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-date span:last-child {
            background: #2312be; }
      .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-ttl {
        font-size: 24px;
        color: #fff;
        background: url(../img/arr.png) no-repeat 94% 50%; }
      .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-btm {
        overflow: hidden;
        margin-top: 35px; }
        .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-btm span {
          text-decoration: underline;
          color: #fff; }
          .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-btm span:first-child {
            float: left; }
          .page_compet-tweek-bl:nth-child(5n+1) .page_compet-tweek-bl-btm span:last-child {
            float: right; }
    .page_compet-tweek-bl:nth-child(5n+3) {
      background: #000; }
      .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-date {
        overflow: hidden; }
        .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-date:before {
          background: #fff; }
        .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-date span {
          color: #fff; }
          .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-date span:first-child {
            background: #000; }
          .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-date span:last-child {
            background: #000; }
      .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-ttl {
        font-size: 24px;
        color: #fff;
        background: url(../img/arr.png) no-repeat 94% 50%; }
      .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-btm {
        overflow: hidden;
        margin-top: 35px; }
        .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-btm span {
          text-decoration: underline;
          color: #fff; }
          .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-btm span:first-child {
            float: left; }
          .page_compet-tweek-bl:nth-child(5n+3) .page_compet-tweek-bl-btm span:last-child {
            float: right; }

/*page_compet*/
@media (min-width: 992px) and (max-width: 1600px) {
  .page_compet-tweek-ttl {
    padding-left: 15px; }
  .page_compet-tweek-bl {
    padding-left: 15px; } }
@media (max-width: 767px) {
  .page_compet {
    padding-top: 64px; }
    .page_compet-tweek-ttl {
      font-size: 48px; }
    .page_compet-tweek-sub_ttl {
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 20px; } }
/*footer*/
footer {
  background: #2413be;
  color: #fff;
  padding-left: 35px; }

.f-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 390px;
  padding-bottom: 30px; }
.f-right {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%; }
  .f-right-btm {
    margin-top: 19px;
    padding-bottom: 30px; }
    .f-right-btm ul {
      padding: 0 10%;
      margin: 0;
      list-style: none;
      text-align: justify; }
      .f-right-btm ul:before {
        content: '';
        display: block;
        width: 100%;
        margin-bottom: -1.2em; }
      .f-right-btm ul:after {
        content: '';
        display: inline-block;
        width: 100%; }
      .f-right-btm ul li {
        display: inline-block;
        position: relative;
        top: 1.2em; }
        .f-right-btm ul li a {
          color: #2413be;
          text-transform: uppercase;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -ms-transition: 0.3s; }
          .f-right-btm ul li a:hover, .f-right-btm ul li a:focus {
            color: #fff;
            text-decoration: none;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -ms-transition: 0.3s; }
        .f-right-btm ul li .copy span {
          color: #fff; }
.f-logo {
  font-size: 30px;
  font-family: 'futurafuturisc', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-top: 20px; }
  .f-logo:hover, .f-logo:focus {
    text-decoration: none;
    color: #fff; }
.f-soc a {
  color: #fff;
  margin-right: 8px;
  font-size: 24px; }
.f-ml {
  font-size: 24px;
  color: #fff; }
.f-menu {
  margin-top: 19px; }
  .f-menu ul {
    padding: 0 10%;
    margin: 0;
    list-style: none;
    text-align: justify;
    max-width: 900px; }
    .f-menu ul:before {
      content: '';
      display: block;
      width: 100%;
      margin-bottom: -1.2em; }
    .f-menu ul:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .f-menu ul li {
      display: inline-block;
      position: relative;
      top: 1.2em; }
      .f-menu ul li a {
        color: #2413be;
        text-transform: uppercase;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s; }
        .f-menu ul li a:hover, .f-menu ul li a:focus {
          color: #fff;
          text-decoration: none;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -ms-transition: 0.3s; }

/*footer*/
@media (min-width: 992px) and (max-width: 1600px) {
  footer {
    padding-left: 15px; }

  .f-left {
    min-height: 250px; }
  .f-ml {
    font-size: 20px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .f-soc {
    margin-top: 15px;
    margin-bottom: 15px; }
    .f-soc a {
      font-size: 20px; }
  .f-ml {
    font-size: 16px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    padding: 0;
    overflow: hidden; }

  .f-left {
    min-height: auto;
    text-align: center; }
  .f-right {
    margin: 0 -15px; }
    .f-right-btm ul {
      text-align: center; }
      .f-right-btm ul li {
        margin: 0 15px;
        margin-bottom: 15px;
        text-align: center; }
      .f-right-btm ul .copy {
        min-width: 100%; }
  .f-menu ul {
    text-align: center; }
    .f-menu ul li {
      margin: 0 15px;
      margin-bottom: 15px;
      text-align: center; } }
@media (max-width: 767px) {
  footer {
    padding: 0; }

  .f-left {
    min-height: auto;
    text-align: center; }
  .f-right {
    margin: 0 -15px; }
    .f-right-btm ul {
      text-align: center; }
      .f-right-btm ul li {
        margin: 0 15px;
        margin-bottom: 15px;
        text-align: center; }
      .f-right-btm ul .copy {
        min-width: 100%;
        margin: 0 0 15px; }
  .f-menu ul {
    text-align: center; }
    .f-menu ul li {
      margin: 0 15px;
      margin-bottom: 15px;
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
