@charset "utf-8";

@import "_fonts";

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'futurademic', sans-serif; font-size: 16px;font-weight: 500;background: #fff;color:#000; min-height: 100vh;}

img { max-width: 100%; height:auto; }

button {cursor: pointer;}

input, button, select {
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;    
}

@media(min-width: 1200px){
    .container {max-width: 1600px;}
    .col-12 {padding: 0;}
    .container-fluid {}
}
@media(min-width: 1200px) and (max-width: 1600px){
    .container {max-width: 78%;}
}
/*header*/
.h { 
    &-mob {display: none;}
    &-pc {display: block;}
    &-logo { font-size: 30px; font-family: 'futurafuturisc', sans-serif; font-weight: 700; color: #2312be; 
        &:hover, &:focus {text-decoration: none; color: #2312be; }
    }
    &-menu { margin-top: 10px;
        ul { padding: 0; margin: 0; list-style: none; text-align: justify; 
            &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
            &:after { content: ''; display: inline-block; width: 100%; } 
            li { display: inline-block; position: relative; top: 1.2em; 
                a { color: #2312be;border-bottom: 3px solid transparent; opacity: 1; @include trans(0.3s);
                    &.active {border-bottom: 3px solid #2312be;}
                    &:hover, &:focus {text-decoration: none; opacity: 0.5; @include trans(0.3s);}
                }
            }
        } 
    } 
    &-srch { margin-top: 10px;
        &-btn {background: url('../img/srch-btn.png')no-repeat;background-size: 100% 100%;width: 17px;height: 18px;position: relative;display: block; margin: 0 auto;border: 0; opacity: 1; @include trans(0.3s);
            &:hover, &:focus {cursor: pointer; box-shadow: none; outline: 0; opacity: 0.5; @include trans(0.3s);}
        }
        &-cont {position: absolute;top: 0;right: 30px;padding: 10px 0; width: 41vw;background: #fff;display: none;z-index:99;
            &.active {display: block;}
            &-input { width: 100%; border: 0; color: #2312be; font-weight: 400; text-transform: uppercase; 
                &:hover, &:focus {box-shadow: none; outline: 0;}
            }
            &-btn { border: 0; color: #2312be; font-weight: 400; text-transform: uppercase; position: absolute; right: 0; background: url('../img/btn-srch-smile.png')no-repeat 100% 50%; top: 0px; text-decoration: underline; padding: 10px 0;padding-right: 40px; 
                &:hover, &:focus {box-shadow: none; outline: 0;}
            }
        }
    }
    &-mob-menu {display: none;}
    &-right { background: #2413be; position: absolute; width: 100%; top: 0; height: 200px; margin-top: -40px; padding-top: 76px; @include trans(0.3s);
        &.clicked {height: auto!important; }
        &-links { margin-right: 140px; float: right; 
            a { color: #fff; margin: 0 20px; text-transform: uppercase; }
        } 
        &-login {height:auto;margin: 8vh; margin-top: 60px; margin-bottom: 40px;overflow:hidden;
            &.hidden {height:0px;margin:0px;}
        }
        &-reg {height:auto;margin: 8vh; margin-top: 60px; margin-bottom: 40px;overflow:hidden;
            &.hidden {height:0px;margin:0px;}
        }
        &-form {
            input { border: 0; border-bottom: 1px solid #fff; background: none; color: #fff; display: block; margin-bottom: 20px; width: 100%; padding-bottom: 7px; text-transform: uppercase; letter-spacing: 3px;
                &::-webkit-input-placeholder {color:#ffffff80;}
                &::-moz-placeholder {color:#ffffff80;}
                &:-ms-input-placeholder {color:#ffffff80;}
                &:-moz-placeholder { color:#ffffff80;}  
                &:focus {box-shadow:none; outline:0;}
            }   
            select { border: 0; border-bottom: 1px solid #fff; background: none; color: #fff; display: block; margin-bottom: 20px; width: 100%; padding-bottom: 7px; text-transform: uppercase; letter-spacing: 3px;
                &:focus {box-shadow:none; outline:0;}
            }  
            &-forgot { font-family: 'futurafuturisc', sans-serif; width: 122px; display: block; color: #fff; font-weight: 300; font-size: 16px; margin: 10px auto 0; 
                &:hover, &:focus {color: #fff;}
            }
            button {display: block; max-width: 400px; letter-spacing: 3px; text-transform: uppercase; text-align: center; position: relative; background: none; border: 0; width: 100%;padding: 0; margin: 0 auto; margin-top: 20px;
                span {font-size: 18px; color: #fff; background: linear-gradient(to right, #fff, #ffffff00, #ffffff00), url(../img/arr.png) no-repeat 94% 50%; display: block; padding: 6px 10px;position: relative;z-index: 2;@include trans(0.3s);}
                &:before {content: '';display: block;width:0; height: 100%; opacity: 0;position: absolute;left: 0; top: 0;@include trans(0.3s);z-index: 1}
                &:hover, &:focus {text-decoration: none;color: #fff;
                    span {color: #2312be;background: linear-gradient(to right, #fff, #ffffff00, #ffffff00), url(../img/arr-purp.png) no-repeat 94% 50%;@include trans(0.3s);}
                    &:before {width: 100%;background: #fff;opacity: 1;@include trans(0.3s);}
                }
            }
        }
        &-soc { margin-top: 20px; 
            &-ttl { font-family: 'futurafuturisc', sans-serif; display: block; color: #fff; font-weight: 300; font-size: 16px; text-align: center; }
            &-links { text-align: center; margin-top: 10px; 
                a { font-size: 24px; color: #fff; margin: 0 8px; }
            } 
            &-lbl { text-align: center; 
                input#reg { display: none; } 
                label { color: #fff; padding-left: 30px;font-family: 'futurafuturisc', sans-serif; font-weight: 300; position: relative;
                    span { display: block; width: 20px; height: 20px; position: absolute; top: 50%; margin-top: -10px; border: 1px solid #fff; left: 0; }
                    a {color: #fff;font-family: 'futurademic', sans-serif; font-weight: 500}
                }
                input#reg:checked ~ label {
                    span {
                        &:before {content: ''; display: block; top: 2px; position: absolute; left: 2px; width: 14px; height: 14px; background: #fff;}
                    }
                }
            }
        }  
    } 
}
header { padding: 40px 0;padding-left: 35px;background: #fff;position: fixed; left: 0;width: 100%;top: 0; z-index: 200;
    &.fixed{
        .h-right {height: 125px; padding-top: 50px;@include trans(0.3s);}
    } 
}
/*header*/
@media(min-width: 992px) and (max-width: 1199px){
    header { 
        &.fixed {
            .h-right {height: 144px; padding-top: 61px;}
        }
    } 
}
@media(min-width: 768px) and (max-width: 991px){
    .h {
        &-right { position: static; padding: 10px 10px; margin: 0; height: auto; overflow: hidden; background: #fff; margin-bottom: 20px; 
            &-links { float: none; margin-right: 0; text-align: right; 
                a { color: #2413be; } 
            } 
        } 
    }
    header { padding: 20px; 
        &.fixed {
            .h-right { padding: 10px 10px; height: auto;}
        }
    } 
}
@media(max-width: 767px){
    header {padding: 20px 0;background: #2413be;color: #fff;}
    .h {
        &-mob {display: block;
            &-logo { color: #fff; text-align: center; display: block; max-width: 59px; margin: 8px auto 0; }
            &-btn { overflow: hidden;
                button {float: right; background: none; border: 1px solid transparent; padding: 8px; display: block; width: 100%; max-width: 81px; border-radius: 6px;
                    &:hover, &:focus {box-shadow:none; outline: 0;}
                    &.active{border: 1px solid #fff;}
                    span { height: 1px; width: 100%; margin: 8px 0; background: #fff; display: block; 
                        &:first-child { margin-top: 0; } 
                        &:last-child { margin-bottom: 0; }
                    } 
                }    
            }
            &-srch {
                &-btn {background: url('../img/srch-mob-btn.png')no-repeat;background-size: 100% 100%;width: 17px;height: 18px;display: block; margin: 8px 0 0;border: 0;opacity: 1; @include trans(0.3s);
                    &:hover, &:focus {cursor: pointer; box-shadow: none; outline: 0; opacity: 0.5; @include trans(0.3s);}
                }
                &-cont {position: absolute; top: 0; left: 15px; padding: 10px 15px; width: 345px; background: #fff; display: none;z-index:99;
                    &.active {display: block;}
                    &-input { width: 100%; border: 0; color: #2312be; font-weight: 400; text-transform: uppercase; 
                        &:hover, &:focus {box-shadow: none; outline: 0;}
                    }
                    &-btn { border: 0; color: #2312be; font-weight: 400; text-transform: uppercase; position: absolute; right: 0; background: url('../img/btn-srch-smile.png')no-repeat 100% 50%; top: 0px; text-decoration: underline; padding: 10px 0;padding-right: 40px; 
                        &:hover, &:focus {box-shadow: none; outline: 0;}
                    }
                }
            }
            &-menu {display: block;position: absolute;left: 0;top: 77px; background: #2413be; width: 100%; border-top: 1px solid #fff;padding-bottom: 30px;
                &.hidden {display: none;}
                ul {padding: 0;margin: 0;list-style: none;overflow-y: auto;
                    li {width: 100%; padding: 0 15px;
                        a {color: #fff;display: block; width: 100%; border: 1px solid #fff; border-radius: 6px; margin: 15px 0; padding: 12px 15px; text-align: center;
                            &:hover, &:focus {text-decoration: none;color: #fff;}
                        }
                    }
                }
            }
        }
        &-pc {display: none;}
    }
}
@media(min-width: 1200px) and (max-width: 1600px){
    .h {
        &-right { height: 20vh; 
            &-links { margin-right: 8vh; } 
        } 
    }
    header { padding: 3vh 0; padding-left: 35px; 
        &.fixed .h-right { height: 14vh; padding-top: 7vh; }
    } 
}

@import "_index";
@import "_compet";
@import "_konkurs";
 

/*footer*/
footer { background: #2413be; color: #fff; padding-left: 35px;} 
.f {
    &-left {display: flex; justify-content: space-between; flex-direction: column;min-height: 390px;padding-bottom: 30px;}
    &-right {background: #000; display: flex; justify-content: space-between; flex-direction: column; min-height: 100%;
        &-btm { margin-top: 19px; padding-bottom: 30px;
            ul { padding: 0 10%; margin: 0; list-style: none; text-align: justify;
                &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
                &:after { content: ''; display: inline-block; width: 100%; } 
                li { display: inline-block; position: relative; top: 1.2em; 
                    a { color: #2413be; text-transform: uppercase;  @include trans(0.3s);
                        &:hover, &:focus { color: #fff;text-decoration: none;  @include trans(0.3s);}
                    }
                    .copy {
                        span {color: #fff;}
                    }
                }
            } 
        }     
    }
    &-logo { font-size: 30px; font-family: 'futurafuturisc', sans-serif; font-weight: 700; color: #fff; margin-top: 20px;
        &:hover, &:focus {text-decoration: none; color: #fff; }
    }
    &-soc {
        a { color: #fff; margin-right: 8px; font-size: 24px; } 
    } 
    &-ml { font-size: 24px; color: #fff; }
    &-menu { margin-top: 19px;
        ul { padding: 0 10%; margin: 0; list-style: none; text-align: justify; max-width: 900px; 
            &:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; } 
            &:after { content: ''; display: inline-block; width: 100%; } 
            li { display: inline-block; position: relative; top: 1.2em; 
                a { color: #2413be; text-transform: uppercase;  @include trans(0.3s);
                    &:hover, &:focus { color: #fff;text-decoration: none;  @include trans(0.3s);}
                }
            }
        } 
    } 
}


/*footer*/
@media(min-width: 992px) and (max-width: 1600px){
    footer { padding-left: 15px;} 
    .f{
        &-left {min-height: 250px;}
        
        &-ml { font-size: 20px; }        
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    footer { } 
    .f{
        &-soc {margin-top: 15px; margin-bottom: 15px;
            a {font-size: 20px;}
        }
        &-ml { font-size: 16px;}        
    }
}
@media(min-width: 768px) and (max-width: 1199px){
    footer { padding: 0; overflow: hidden;}
    .f {
        &-left { min-height: auto; text-align: center; }
        &-right { margin: 0 -15px; 
            &-btm {
                ul { text-align: center; 
                    li { margin:0 15px; margin-bottom: 15px; text-align: center; }
                    .copy {min-width: 100%;} 
                }
            }
        }
        &-menu {
            ul { text-align: center; 
                li {margin:0 15px; margin-bottom: 15px; text-align: center; }
            }
        }
    }
}
@media(max-width: 767px){
    footer { padding: 0;}
    .f {
        &-left { min-height: auto; text-align: center; }
        &-right { margin: 0 -15px; 
            &-btm {
                ul { text-align: center; 
                    li { margin:0 15px; margin-bottom: 15px; text-align: center; }
                    .copy {min-width: 100%; margin: 0 0 15px;} 
                }
            }
        }
        &-menu {
            ul { text-align: center; 
                li {margin:0 15px; margin-bottom: 15px; text-align: center; }
            }
        }
    }
}


