.strange-slider-cont {
    padding-left: 60px;
}

.strange-slider-bl.active {
    display: block;
}

.strange-slider-bl {
    display: none;
    position: relative;
}

.strange-slider-bl span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
